/*
Team Member:
Natalie Monger, Yifei Xavier Liu, Jason Woodruff, Yuzhou Jerry Ge, Bradley Nguyen
*/
body, div, dl, dt, dd, ul, li, h1, h2, h3, h4, h5, h6, form, a, p, textarea {
	margin:0;
	padding: 0;
	font-family: Helvetica;
}


body {
	height: 100%;
}
ol, ul, li {
	list-style: none;
}

a {
	text-decoration: none;
	display: block;
	color:#000;
}

a:visited {
	color:#000;
}

img {
	border:none;
	display: block;
}

div {
	padding: 0;
	margin:0;
	border-width: 0;
}

#side-buttom {
    margin: 0 auto;

    /*position: relative;*/
    margin-bottom: 5px;
    margin-top: 5px;
	width: 350px;
	height: 50px;
	border-radius: 10px;
	background-color: yellow;
	text-align: center;
}
#side-buttom:hover{
    margin: 0 auto;

    /*position: relative;*/
    margin-bottom: 5px;
    margin-top: 5px;
	width: 350px;
	height: 50px;
	border-radius: 10px;
	background-color: yellow;
	text-align: center;
	background-color: red;
}

#side-buttom p{
	margin-top: 20px;
	padding-top: 20px;
}

#main-canvas {
	width:100%;
	height:100%;
	background-color: #000;
}


.inline-block {
	display: inline-block;
}

#top-menu {
	width:100%;
	height:10%;
	background-color: yellow;
}

#top-menu #main-logo {
	font-size: 35px;
	font-style: italic;
}

#main-logo {
	float: left;
	white-space: nowrap;
	width: 60%;
	height:100px;
	background-color: #000;
	text-align: center;
	color: yellow;
}

#main-logo h1{
	margin-top: 18px;
}

#main-user {
	float: left;
	white-space: nowrap;
	width: 40%;
	height: 100px;
	background-color: green;
}

#main-notification {
	float: left;
	white-space: nowrap;
	width: 15%;
	height: 100px;
	background-color: yellow;
	background-image: url("../images/icon-message.png");
	background-repeat: no-repeat;
	background-position: center; 
}

#main-user-icon {
	float: left;
	white-space: nowrap;
	width: 15%;
	height: 100px;
	background-color: #fff;
	background-image: url("../images/default-avatar.png");
	background-repeat: no-repeat;
	background-position: center; 
}

#main-user-name {
	float: left;
	white-space: nowrap;
	width: 50%;
	height: 100px;
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: center; 
	text-align: middle;
}

#main-user-name p {
	position: relative;
	top: 45px;
}

#main-user-click {
	float: left;
	white-space: nowrap;
	width: 20%;
	height: 100px;
	background-color: #AAA;
	background-image: url("../images/arrow.png");
	background-repeat: no-repeat;
	background-position: center; 
	text-align: middle;
}

#main-user-click:hover {
	float: left;
	white-space: nowrap;
	width: 20%;
	height: 100px;
	background-color: yellow;
	background-image: url("../images/arrow.png");
	background-repeat: no-repeat;
	background-position: center; 
	text-align: middle;

}

.quote-button {
	display: block;
	width: 100px;
	height: 100px;
	color: #aaa;
}

.quote-button:hover {
	display: block;
	width: 100px;
	height: 100px;
	color: yellow;
}


#toggle-user-info {
	background-color: yellow;
	position: absolute;
	width: 400px;
	height:420px;
	left: 75%;
	top: 100px;
	z-index: 999;
	overflow-y:scroll;
}


#main-room {
	float: left;
	white-space: nowrap;
	width: 100%;
	height: 80%;
	max-height: 900px;
	min-height: 900px;
	background:linear-gradient(#000, #aaa);;
	background-position: center; 
}


#main-content-title{
	width: 100%;
	height: 80px;
	display: inline-block;
	background-color: #000;
	color:#fff;
	text-align: center;
}

#main-content-title h2 {
	margin-top: 45px;
	color: #fff;
	font-size: 35px;
}


#footer {
	display: block;
	position: relative;
	background-color: #aaa;
	top:150%;
	height: 8%;
}

#game-img {
	position:relative;
	left: 100px;
	float: left;
	width: 350px;
	height: 350px;
	margin-top:50px;
	background-repeat: no-repeat;
	margin-left: 60px;
}

#game-info {
	float: right;
	width: 60%;
	height: 800px;
	background-color: #aaa;
	position:relative;
	top:-80px;
	left:-90px;
}

#main-room #game-info h3 {
	line-height: 40px;
	margin-left: 30px;
	margin-top: 15px;
}

#joined-user {
	width: 100%;
	/*background-color: blue;*/
	vertical-align: center;
	font-size: 20px;
}

#game-title {
	font-style: italic;
}

#user-img {
	margin-left: 80px;
	display: inline-block;
	width: 50px;
	height: 50px;
}

#user-name {
	display: inline-block;
	vertical-align: center;
	position: relative;
	overflow:scroll;
	top:-15px;
}


#join-button {
	border:0;
	padding:0;
	position: relative;
	width: 330px;
	height: 70px;
	background-color: #32cd32;
	top: 330px;
	left:-310px;
}




#quit-button {
	border:0;
	padding:0;
	position: relative;
	width: 330px;
	height: 70px;
	background-color: red;
	top: 340px;
	left:-310px;
}

#join-button:hover{
	border:0;
	padding:0;
	position: relative;
	width: 330px;
	height: 70px;
	background-color: #32cd32;
	top: 330px;
	left:-310px;
	opacity: 0.7;
}


#quit-button:hover{
	border:0;
	padding:0;
	position: relative;
	width: 330px;
	height: 70px;
	background-color: red;
	top: 340px;
	left:-310px;
	opacity: 0.7;
}


#join-button h3{
	font-size:2em;
	position: relative;
	left: 0px;
	top: 0px;
	color: #fff;
	z-index: 999;
}

#quit-button h3 {
	font-size:2em;
	position: relative;
	left: 0px;
	top: 0px;
	color: #fff;
	z-index: 999;
}
#onlineUsers {
	position: relative;
	left:155px;
}

#onlineLabel {
	
	position: relative;
	left:155px;
	text-decoration: underline;
}
